{% extends 'base.html' %}

{% block content  %}
<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
    
    <h1>Welcome, User </h1>
    {% else %}
<h1>Login</h1>
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
<div class="mb-3">
  <label for="" class="form-label">User Name</label>
  <input type="text" class="form-control" name="userName" id="" placeholder="username">
  
</div>

<div class="mb-3">
  <label for="" class="form-label">Password</label>
  <input type="password" class="form-control" name="password" id="" placeholder="">
</div>

<div class="mb-3">
<button type="submit" class="btn btn-primary">Login</button>
</div>
</form>
</div>
{% endif %}
{% endblock  %}

